# todo try to find a way to clear the screen inbetween `git add -p` prompts.
# it's too hard to tell how the current hunk has been split because the previous prompt is so easy to miss
# https://www.reddit.com/r/git/comments/6mll23/is_it_possible_to_clear_the_screen_for_each_hunk/
# workaround for now is to just hit <return> if it's not obvious, because that'll spit out the help menu followed by the hunk

[branch]
	autosetuprebase = always

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore_global

[credential]
	helper = osxkeychain

[diff]
	# relative = true
	# not working

	#	wordRegex="[A-Za-z0-9. ]|[^[:space:]]"
	# useful in some scenarios, but really bad in others

	# trying to make word diff the default
	#external = "git diff --word-diff=color"

[difftool]
	prompt = false

[format]
	# Want this for `log`, but not `show`. Doesn't seem like there's a way to do that, and I use `log` much more than `show`,
	# so I just created `showm` alias as workaround.
	pretty = oneline

[include]
	path = ~/dotfiles/git/.gitconfig.aliases
	path = ~/dotfiles/git/.gitconfig.delta
	path = ~/dotfiles/git/.gitconfig.signing
	path = ~/dotfiles/git/.gitconfig.local

# Use 10up SSH key for signing commits in their repos.
# Override `user.email` and `user.signingkey`.
# This must be included _after_ .gitconfig.signing
# https://markentier.tech/posts/2021/02/github-with-multiple-profiles-gpg-ssh-keys/
[includeIf "gitdir:~/local-sites/10up/"]
	# Make sure 10up sites are created in this folder
	path = ~/dotfiles/git/.gitconfig.10up

[init]
	# Some other options: production, stable, release, base, default, trunk, main, primary.
	defaultBranch = develop

[log]
	# The full hash is unnecessary in most contexts, and clutters the screen.
	abbrevCommit = true

[merge]
	# Turning it on will overwrite local changes during a merge
	ff = false

[pull]
	rebase = true

[push]
	default = current
	forceWithLease = true
	autoSetupRemote = true

[rebase]
	abbreviateCommands = true
	#autostash = true
		# seems like would be convenient, but could be dangerous. need to research/test first

[stash]
	showStat = false
	showPatch = true

[status]
	short = true
	showStash = true

[svn]
	rmdir = true
