[user]
	name  = Ian Dunn
	email = ian@iandunn.name
	singingkey = 99B971B50343CBCB

[credential]
	helper = osxkeychain

[alias]
	co       = checkout
	ci       = commit
	stat     = status
	statlong = status --long
	diffc    = diff --cached
	svnrebase = !git stash && git svn rebase --log-window-size=100000 && git stash pop


[diff]
	tool = dw
	noprefix = true
	#external = '/Applications/DeltaWalker.app/Contents/MacOS/git-diff'

[difftool]
	prompt = false

[difftool "dw"]
	cmd = '/Applications/DeltaWalker.app/Contents/MacOS/git-diff' "$LOCAL" "$REMOTE"
	# remote doesn't show up

[branch]
	autosetuprebase = always

[merge]
	tool = deltawalker

[mergetool "deltawalker"]
	cmd = '/Applications/DeltaWalker.app/Contents/MacOS/git-merge' "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[core]
	excludesfile = ~/.gitignore_global

[push]
	default = simple

[color]
	ui = true

[status]
	short = true

[commit]
	# todo breaks `git svn fetch` b/c tries to sign other people's commits --- gpgsign = true
	# is there a way to set this per repo? or set it manually from cli?
	# if from cli, maybe setup an alias, like git civ (for ci verified), cis (ci signed), etc

[gpg]
	program = gpg2

[svn]
	rmdir = true
