[user]
	name = Ian Dunn
	email = ian@iandunn.name

[credential]
	helper = osxkeychain

[alias]
	co = checkout
	ci = commit
	stat = status

[diff]
	tool = dw
	#external = '/Applications/DeltaWalker.app/Contents/MacOS/git-diff'

[difftool]
	prompt = false

[difftool "dw"]
	cmd = '/Applications/DeltaWalker.app/Contents/MacOS/git-diff' "$LOCAL" "$REMOTE"
	# remote doesn't show up

[branch]
	autosetuprebase = always

[merge]
	tool = deltawalker

[mergetool "deltawalker"]
	cmd = '/Applications/DeltaWalker.app/Contents/MacOS/git-merge' "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[core]
	excludesfile = ~/.gitignore_global

[push]
	default = simple

[color]
	ui = true
