# todo try to find a way to clear the screen inbetween `git add -p` prompts. 
# it's too hard to tell how the current hunk has been split because the previous prompt is so easy to miss
# https://www.reddit.com/r/git/comments/6mll23/is_it_possible_to_clear_the_screen_for_each_hunk/
# workaround for now is to just hit <return> if it's not obvious, because that'll spit out the help menu followed by the hunk

[user]
	name  = Ian Dunn
	email = ian@iandunn.name
	singingkey = 99B971B50343CBCB

[credential]
	helper = osxkeychain

[alias]
	co       = checkout
	ci       = commit
	cinv	 = commit --no-verify
	cherp	 = cherry-pick
	logdef   = log ...production
		# make ^ automatically pick the default branch for git, and `git-svn` ref for git-svn
		# see comments around `phpcs-changed-git` for notes on getting default
	logm     = log --no-abbrev-commit --format=medium
	pullas	 = pull --autostash
	reba	 = rebase --abort
	rebc	 = rebase --continue
	stat     = status
	statlong = status --long
	showm    = show --no-abbrev-commit --format=medium
	diffc    = diff --cached
	svnrebase = !git stash && git svn rebase --log-window-size=100000 && git stash pop
		# todo don't do ^ if there's already something in stash, b/c when have conflicts it gets all messed up. er, or is it because left in stash after fix conflict? i think it's the latter
	stashshow = "!git stash show -p stash@{\"$1\"} #"
	svnrebasemirror = !git checkout master && git pull origin master && git svn rebase && git push origin master

[diff]
	tool = dw
	noprefix = true
	#external = '/Applications/DeltaWalker.app/Contents/Resources/git-diff'

[difftool]
	prompt = false

[difftool "dw"]
	cmd = '/Applications/DeltaWalker.app/Contents/Resources/git-diff' "$LOCAL" "$REMOTE"
	# remote doesn't show up

[branch]
	autosetuprebase = always

[format]
	# Want this for `log`, but not `show`. Doesn't seem like there's a way to do that, and I use `log` much more than `show`, so just created `showm` alias as workaround.
	pretty = oneline

[merge]
	tool = deltawalker

[mergetool "deltawalker"]
	cmd = '/Applications/DeltaWalker.app/Contents/Resources/git-merge' "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[core]
	excludesfile = ~/.gitignore_global

[push]
	default = current

[pull]
	rebase = true

[rebase]
	abbreviateCommands = true

[color]
	ui = true

[status]
	short = true

[commit]
	gpgsign = true

[gpg]
	program = gpg

[svn]
	rmdir = true

	# `true` would break `git svn fetch` by trying to sign other people's commits. Is there a way around that? Does it even matter?
#	gpgsign = false
# see if ^ breaks git svn rebase && git push for wordcamp
# huh, disabling it doesn't seem to have any effect. it doesn't even try to sign git svn commits
